$themes: (
  default: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    /////////////////////////////////////
    app-header: $grey-2,
    /////////////////////////////////////
    bg-gradient-1: $bg-1,
    bg-gradient-2: $bg-2,
    bg-front: $grey-5,
    /////////////////////////////////////
    switch: $grey-4,
    switch-btn: $grey-6,
    /////////////////////////////////////
    errand-card: $grey-6,
    errand-num: $grey-6,
    errand-text: $grey-2,
    errand-text-completed: $grey-4,
    errand-btn: $grey-4,
    /////////////////////////////////////
    form-input: $grey-6,
    form-placeholder: $grey-4,
    form-btn: $grey-3,
    form-btn-text: $grey-6
  ),
  dark: (
    primary: $primary-dark,
    secondary: $secondary-dark,
    tertiary: $tertiary-dark,
    /////////////////////////////////////
    app-header: $grey-3-dark,
    /////////////////////////////////////
    bg-gradient-1: $bg-1-dark,
    bg-gradient-2: $bg-2-dark,
    bg-front: $grey-1-dark,
    /////////////////////////////////////
    switch: $grey-2-dark,
    switch-btn: $grey-4-dark,
    /////////////////////////////////////
    errand-card: $grey-3-dark,
    errand-num: $grey-4-dark,
    errand-text: $bg-1-dark,
    errand-text-completed: $grey-2-dark,
    errand-btn: $grey-2-dark,
    /////////////////////////////////////
    form-input: $grey-3-dark,
    form-placeholder: $grey-2-dark,
    form-btn: $grey-2-dark,
    form-btn-text: $grey-4-dark
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
