.app {
  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    min-height: 100vh;

    @include themed() {
      background-image: linear-gradient(135deg, t('bg-gradient-1') 0%, t('bg-gradient-2') 100%);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4rem 9rem 4rem 6rem;
    margin: 3rem 0;
    width: 60%;
    min-height: calc(100vh - 6rem);
    border-radius: 10px;

    @include themed() {
      background-color: t('bg-front');
      box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.729);
    }

    @include respond(-large) {
      padding: 5rem 9rem 5rem 6rem;
    }

    @include respond(-medium) {
      padding: 5rem 7.2rem 5rem 5rem;
      width: 62%;
    }

    @include respond(-small) {
      padding: 5rem 7.2rem 5rem 4.6rem;
      width: 80%;
    }

    @include respond(-smallest) {
      padding: 5rem 7.2rem 5rem 4.6rem;
      width: 85%;
    }
  }

  &__color-switch {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 3.6rem;
    border-radius: 2rem;
    outline: none;
    transition: 200ms;
    top: 1.6rem;
    right: 1.6rem;
    cursor: pointer;

    @include themed() {
      background-color: t('switch');
      border: 3px solid t('switch');
    }

    @include respond(-large) {
      width: 2rem;
    }
  
    &:checked {
      @include themed() {
        background-color: t('switch');
        border: 3px solid t('switch');
      }
    }
  
    &:before {
      content: '';
      width: 1.4rem;
      height: 1.4rem;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      transition: 200ms ease-in;

      @include themed() {
        background-color: t('switch-btn');
      }

      @include respond(-largest) {
        width: 1.5rem;
        height: 1.5rem;
      }

      @include respond(-large) {
      }

      @include respond(-medium) {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  
    &:checked:before {
      top: 1.6rem;
    }
  }

  &__header {
    font-size: 4.2rem;
    align-self: flex-start;
    letter-spacing: 0.7rem;
    font-weight: 300;

    @include themed() {
      color: t('app-header');
    }
  }
}
