.app {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 13rem;
  }

  &__header {
    color: white;
    font-size: 6rem;
    margin: 3rem 0;
    align-self: center;
  }
}