.errand {
  &__container {
    @include themed() {
      color: t('errand-text');
    }
  }

  &__num {
    position: absolute;
    padding-top: 0.2rem;
    padding-left: 0.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 0 0 100px 0;

    @include themed() {
      color: t('errand-num');
      background-color: t('primary');
    }

    @include respond(-large) {
      width: 3.2rem;
      height: 3.2rem;
    }

    @include respond(-medium) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &__editing {
    display: grid;
    grid-template-rows: 1fr max-content;
    min-height: 15rem;
    position: relative;

    @include themed() {
      background-color: t('errand-card');
    }

    @include respond(-small) {
      min-height: 14rem;
    }

    @include respond(-smallest) {
      min-height: 13rem;
    }
  }

  &__editing-input {
    display: flex;
    align-content: center;

    & input {
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 1.9rem;
      margin-left: 2.8rem;
      margin-bottom: 0.7rem;
      letter-spacing: 1.4px;
      font-family: 'Noto Sans TC', sans-serif;
      width: 100%;

      @include themed() {
        color: t('placeholder');
      }

      @include respond(-medium) {
        margin-bottom: 0rem;
        margin-top: 0.8rem;
        margin-left: 3rem;
      }

      @include respond(-small) {
        margin-bottom: 0rem;
        margin-top: 1.5rem;
        margin-left: 3rem;
      }

      @include respond(-smallest) {
        margin-bottom: 0rem;
        margin-top: 2.5rem;
        margin-left: 3rem;
      }

      &::placeholder {
        letter-spacing: 1.4px;
        opacity: 0.2;

        @include themed() {
          color: t('placeholder');
        }
      }
    }
  }

  &__editing-btns {
    display: flex;
    justify-content: flex-end;

    & .fa-check-square, .fa-undo {
      @include themed() {
        color: t('errand-btn');
      }
    }

    & .fa-check-square {
      font-size: 2.2rem;
      padding-right: 0.6rem;
      padding-bottom: 0.4rem;
    }

    & .fa-undo {
      font-size: 1.8rem;
      padding-top: 0.2rem;
      padding-right: 0.4rem;
    }
  }

  &__notediting {
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    min-height: 15rem;

    @include themed() {
      background-color: t('errand-card');
    }

    @include respond(-small) {
      min-height: 14rem;
    }

    @include respond(-smallest) {
      min-height: 13rem;
    }

    & .fa-star {
      font-size: 1.5rem;
      margin-left: 0.3rem;
    }
  }

  &__stars {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;

    & .far.fa-star {
      @include themed() {
        color: t('tertiary');
      }
    }

    & .fas.fa-star {
      @include themed() {
        color: t('tertiary');
      }
    }
  }

  &__notediting-content {
    padding: 1.5rem 2.8rem;
    letter-spacing: 1.4px;
    cursor: pointer;

    @include respond(-large) {
      padding: 1.2rem 2.6rem;
    }

    @include respond(-medium) {
      padding: 2rem 3rem;
    }
  }

  &__notediting-btns {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;
    padding-bottom: 0.4rem;

    & .fa-edit, .fa-trash-alt {
      cursor: pointer;
      font-size: 2.1rem;

      @include themed() {
        color: t('errand-btn');
      }
    }

    & .fa-edit {
      padding-right: 0.3rem;
    }
  }

  &__completed {
    &--text {
      text-decoration: line-through;

      @include themed() {
        color: t('errand-text-completed');
      }
    }

    &--num {
      @include themed() {
        background-color: t('secondary');
      }
    }
  }
}