.errand {

  &__container {
    @include themed() {
      color: t('text');
    }
  }

  &__editing {
    display: grid;
    grid-template-rows: 1fr max-content;
    position: relative;
    min-height: 14rem;

    @include themed() {
      background-color: t('card');
    }
  
    & input {
      border: none;
      outline: none;
      background-color: transparent;

      &::placeholder {
        font-size: 1.9rem;
        word-break: break-all;

        @include themed() {
          color: t('placeholder');
        }
      }
    }

    & svg {
      width: 2rem;
      height: 2rem;

      @include themed() {
        fill: t('btn');
      }
    }
  }

  &__editing-input {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__editing-btns {
    display: flex;
    justify-content: flex-end;
  }

  &__notediting {
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    min-height: 14rem;

    @include themed() {
      background-color: t('card');
    }

    @include respond(-small) {
      min-height: 12rem;
    }

    @include respond(-smallest) {
      min-height: 10rem;
    }

    & svg {
      width: 2rem;
      height: 2rem;

      @include themed() {
        fill: t('btn');
      }
    }
  }

  &__stars {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.8rem;

    & svg {
      width: 1.6rem;
      height: 1.6rem;

      @include themed() {
        fill: t('tertiary');
      }
    }
  }

  &__notediting-content {
    padding: 1.5rem 2.8rem;
    word-break: break-all;

    @include respond(-large) {
      padding: 1.2rem 2.6rem;
    }
  }

  &__notediting-btns {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  &__num {
    position: absolute;
    padding-left: 0.7rem;
    font-size: 1.8rem;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    clip-path: polygon(100% 0%, 0 0, 0 100%);

    @include themed() {
      background-color: t('primary');
    }

    @include respond(-large) {
      width: 4.7rem;
      height: 4.7rem;
    }

    @include respond(-medium) {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  &__completed {
    &--text {
      text-decoration: line-through;

      @include themed() {
        color: t('completed');
      }
    }

    &--num {
      @include themed() {
        background-color: t('secondary');
      }
    }
  }
}