.form {
  &__container {
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
    margin-bottom: 5rem;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    user-select: none;

    @include respond(-medium) {
      margin-top: 6.5rem;
      margin-bottom: 4.5rem;
    }

    @include respond(-small) {
      flex-direction: column;
    }
  }

  &__addbar {
    display: grid;
    grid-template-columns: 3rem 1fr;
    width: 41%;
    height: 4.2rem;

    @include respond(-large) {
      width: 46%;
      height: 4.2rem;
    }

    @include respond(-small) {
      width: 100%;
      margin-bottom: 2.3rem;
    }
  }

  &__input-rating {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.3rem;
    padding-right: 0.6rem;

    @include themed() {
      background-color: t('form-input');
    }
  }

  &__input {
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    justify-self: flex-start;
    font-size: 1.7rem;
    letter-spacing: 2px;
    padding-top: 0.3rem;

    @include themed() {
      color: t('form-btnholder');
    }

  
    &::placeholder {
      font-size: 1.7rem;
      padding-left: 0.5rem;
      font-weight: 400;
      letter-spacing: 2px;
      @include themed() {
        color: t('form-placeholder');
      }
    }
  }

  &__rating {
    padding-top: 0.4rem;
  }

  &__empty-star {
    font-size: 1.5rem;

    @include themed() {
      color: t('tertiary');
    }

    &.fa-star {
      margin-right: 0.5rem;
    }
  }

  &__full-star {
    font-size: 1.5rem;

    @include themed() {
      color: t('tertiary');
    }
  }

  &__submit-btn {
    padding: 0.2rem 0;
    font-size: 2.5rem;
    cursor: pointer;
    opacity: 1;
    text-align: center;
    
    @include themed() {
      background-color: t('form-btn');
      color: t('form-btn-text');
    }
  }

  &__filter {
    display: flex;
    flex-direction: row;

    & div {
      padding: 0.1rem 1rem;
      padding-bottom: 0.3rem;
      cursor: pointer;
      border-radius: 2em;
      font-size: 1.6rem;

      @include respond(-large) {
        padding: 0.1rem 0.9rem;
        padding-bottom: 0.4rem;
      }

      @include respond(-medium) {
        padding-bottom: 0.2rem;
      }

      @include respond(-small) {
        padding-bottom: 0.3rem;
      }
    }
  
    & div:not(:last-child) {
      margin-right: 1rem;

      @include respond(-large) {
        margin-right: 1.4rem;
      }

      @include respond(-medium) {
        margin-right: 1.1rem;
      }
    }
  }

  &__filter-all {
    opacity: 0.4;

    @include themed() {
      background-color: t('form-btn');
      color: t('btn-text');
    }

    &--pressed {
      opacity: 1;

      @include themed() {
        background-color: t('form-btn');
        color: t('form-btn-text');
      }
    }
  }

  &__filter-com {
    opacity: 0.4;

    @include themed() {
      background-color: t('secondary');
      color: t('form-btn-text');
    }

    &--pressed {
      opacity: 1;

      @include themed() {
        background-color: t('secondary');
        color: t('form-btn-text');
      }
    }
  }

  &__filter-uncom {
    opacity: 0.4;

    @include themed() {
      background-color: t('primary');
      color: t('form-btn-text');
    }

    &--pressed {
      opacity: 1;

      @include themed() {
        background-color: t('primary');
        color: t('form-btn-text');
      }
    }
  }
}