$primary: #e8acac;
$secondary: rgb(182, 171, 200);
$tertiary: rgb(239, 210, 154);

$bg-1: #515151;
$bg-2: #575757;

$grey-1: #303030;
$grey-2: rgb(106, 106, 106);
$grey-3: rgb(189, 189, 189);
$grey-4: rgb(208, 208, 208);
$grey-5: #EBEBEB;
$grey-6: rgb(251, 251, 251);

/////////////////////

$primary-dark: rgb(226, 111, 69);
$secondary-dark: rgb(70, 169, 211);
$tertiary-dark: #e7ae3c;

$bg-1-dark: #1f1f1f;
$bg-2-dark: #343434;

$grey-1-dark: #373737;
$grey-2-dark: #939393;
$grey-3-dark: rgb(222, 222, 222);
$grey-4-dark: rgb(244, 244, 244);