$color-white: white;
$color-black: black;

/// light

$color-primary: rgb(164, 206, 164);
$color-secondary: rgb(142, 207, 235);
$color-tertiary: rgb(203, 203, 128) ;

$color-switch-btn:rgb(251, 251, 251);

$color-grey-1: lightgray;
$color-grey-2: rgb(203, 203, 203);
$color-grey-3: rgb(113, 113, 113);

$color-gradient-1: rgb(230, 230, 175);
$color-gradient-2: rgb(230, 230, 138);

/// dark

$color-primary-dark: #e8acac;
$color-secondary-dark: rgb(182, 171, 200);
$color-tertiary-dark: rgb(239, 210, 154);

$color-switch-btn-dark:rgb(249, 249, 249);

$color-grey-1-dark: rgb(202, 205, 208);
$color-grey-2-dark: rgb(186, 186, 186);
$color-grey-3-dark: rgb(106, 106, 106);

$color-gradient-1-dark: rgba(55,59,79,1);
$color-gradient-2-dark: rgba(9,16,42,1);