@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Noto Sans TC', sans-serif; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.9rem; }

.app__background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  min-height: 100vh; }
  .theme--default .app__background {
    background-image: linear-gradient(135deg, #515151 0%, #575757 100%); }
  .theme--dark .app__background {
    background-image: linear-gradient(135deg, #1f1f1f 0%, #343434 100%); }

.app__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 4rem 9rem 4rem 6rem;
  margin: 3rem 0;
  width: 60%;
  min-height: calc(100vh - 6rem);
  border-radius: 10px; }
  .theme--default .app__container {
    background-color: #EBEBEB;
    box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.729); }
  .theme--dark .app__container {
    background-color: #373737;
    box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.729); }
  @media only screen and (max-width: 75em) {
    .app__container {
      padding: 5rem 9rem 5rem 6rem; } }
  @media only screen and (max-width: 62.5em) {
    .app__container {
      padding: 5rem 7.2rem 5rem 5rem;
      width: 62%; } }
  @media only screen and (max-width: 53.125em) {
    .app__container {
      padding: 5rem 7.2rem 5rem 4.6rem;
      width: 80%; } }
  @media only screen and (max-width: 34.375em) {
    .app__container {
      padding: 5rem 7.2rem 5rem 4.6rem;
      width: 85%; } }

.app__color-switch {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 3.6rem;
  border-radius: 2rem;
  outline: none;
  transition: 200ms;
  top: 1.6rem;
  right: 1.6rem;
  cursor: pointer; }
  .theme--default .app__color-switch {
    background-color: #d0d0d0;
    border: 3px solid #d0d0d0; }
  .theme--dark .app__color-switch {
    background-color: #939393;
    border: 3px solid #939393; }
  @media only screen and (max-width: 75em) {
    .app__color-switch {
      width: 2rem; } }
  .theme--default .app__color-switch:checked {
    background-color: #d0d0d0;
    border: 3px solid #d0d0d0; }
  .theme--dark .app__color-switch:checked {
    background-color: #939393;
    border: 3px solid #939393; }
  .app__color-switch:before {
    content: '';
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: 200ms ease-in; }
    .theme--default .app__color-switch:before {
      background-color: #fbfbfb; }
    .theme--dark .app__color-switch:before {
      background-color: #f4f4f4; }
    @media only screen and (min-width: 112.5em) {
      .app__color-switch:before {
        width: 1.5rem;
        height: 1.5rem; } }
    @media only screen and (max-width: 62.5em) {
      .app__color-switch:before {
        width: 1.3rem;
        height: 1.3rem; } }
  .app__color-switch:checked:before {
    top: 1.6rem; }

.app__header {
  font-size: 4.2rem;
  align-self: flex-start;
  letter-spacing: 0.7rem;
  font-weight: 300; }
  .theme--default .app__header {
    color: #6a6a6a; }
  .theme--dark .app__header {
    color: #dedede; }

.theme--default .errand__container {
  color: #6a6a6a; }

.theme--dark .errand__container {
  color: #1f1f1f; }

.errand__num {
  position: absolute;
  padding-top: 0.2rem;
  padding-left: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 0 0 100px 0; }
  .theme--default .errand__num {
    color: #fbfbfb;
    background-color: #e8acac; }
  .theme--dark .errand__num {
    color: #f4f4f4;
    background-color: #e26f45; }
  @media only screen and (max-width: 75em) {
    .errand__num {
      width: 3.2rem;
      height: 3.2rem; } }
  @media only screen and (max-width: 62.5em) {
    .errand__num {
      width: 3.5rem;
      height: 3.5rem; } }

.errand__editing {
  display: grid;
  grid-template-rows: 1fr max-content;
  min-height: 15rem;
  position: relative; }
  .theme--default .errand__editing {
    background-color: #fbfbfb; }
  .theme--dark .errand__editing {
    background-color: #dedede; }
  @media only screen and (max-width: 53.125em) {
    .errand__editing {
      min-height: 14rem; } }
  @media only screen and (max-width: 34.375em) {
    .errand__editing {
      min-height: 13rem; } }

.errand__editing-input {
  display: flex;
  align-content: center; }
  .errand__editing-input input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.9rem;
    margin-left: 2.8rem;
    margin-bottom: 0.7rem;
    letter-spacing: 1.4px;
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%; }
    @media only screen and (max-width: 62.5em) {
      .errand__editing-input input {
        margin-bottom: 0rem;
        margin-top: 0.8rem;
        margin-left: 3rem; } }
    @media only screen and (max-width: 53.125em) {
      .errand__editing-input input {
        margin-bottom: 0rem;
        margin-top: 1.5rem;
        margin-left: 3rem; } }
    @media only screen and (max-width: 34.375em) {
      .errand__editing-input input {
        margin-bottom: 0rem;
        margin-top: 2.5rem;
        margin-left: 3rem; } }
    .errand__editing-input input::placeholder {
      letter-spacing: 1.4px;
      opacity: 0.2; }

.errand__editing-btns {
  display: flex;
  justify-content: flex-end; }
  .theme--default .errand__editing-btns .fa-check-square, .theme--default .errand__editing-btns .fa-undo {
    color: #d0d0d0; }
  .theme--dark .errand__editing-btns .fa-check-square, .theme--dark .errand__editing-btns .fa-undo {
    color: #939393; }
  .errand__editing-btns .fa-check-square {
    font-size: 2.2rem;
    padding-right: 0.6rem;
    padding-bottom: 0.4rem; }
  .errand__editing-btns .fa-undo {
    font-size: 1.8rem;
    padding-top: 0.2rem;
    padding-right: 0.4rem; }

.errand__notediting {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  min-height: 15rem; }
  .theme--default .errand__notediting {
    background-color: #fbfbfb; }
  .theme--dark .errand__notediting {
    background-color: #dedede; }
  @media only screen and (max-width: 53.125em) {
    .errand__notediting {
      min-height: 14rem; } }
  @media only screen and (max-width: 34.375em) {
    .errand__notediting {
      min-height: 13rem; } }
  .errand__notediting .fa-star {
    font-size: 1.5rem;
    margin-left: 0.3rem; }

.errand__stars {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem; }
  .theme--default .errand__stars .far.fa-star {
    color: #efd29a; }
  .theme--dark .errand__stars .far.fa-star {
    color: #e7ae3c; }
  .theme--default .errand__stars .fas.fa-star {
    color: #efd29a; }
  .theme--dark .errand__stars .fas.fa-star {
    color: #e7ae3c; }

.errand__notediting-content {
  padding: 1.5rem 2.8rem;
  letter-spacing: 1.4px;
  cursor: pointer; }
  @media only screen and (max-width: 75em) {
    .errand__notediting-content {
      padding: 1.2rem 2.6rem; } }
  @media only screen and (max-width: 62.5em) {
    .errand__notediting-content {
      padding: 2rem 3rem; } }

.errand__notediting-btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
  padding-bottom: 0.4rem; }
  .errand__notediting-btns .fa-edit, .errand__notediting-btns .fa-trash-alt {
    cursor: pointer;
    font-size: 2.1rem; }
    .theme--default .errand__notediting-btns .fa-edit, .theme--default .errand__notediting-btns .fa-trash-alt {
      color: #d0d0d0; }
    .theme--dark .errand__notediting-btns .fa-edit, .theme--dark .errand__notediting-btns .fa-trash-alt {
      color: #939393; }
  .errand__notediting-btns .fa-edit {
    padding-right: 0.3rem; }

.errand__completed--text {
  text-decoration: line-through; }
  .theme--default .errand__completed--text {
    color: #d0d0d0; }
  .theme--dark .errand__completed--text {
    color: #939393; }

.theme--default .errand__completed--num {
  background-color: #b6abc8; }

.theme--dark .errand__completed--num {
  background-color: #46a9d3; }

.errandlist__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-row-gap: 2.5rem;
  grid-column-gap: 3.5rem; }

.form__container {
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
  margin-bottom: 5rem;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  user-select: none; }
  @media only screen and (max-width: 62.5em) {
    .form__container {
      margin-top: 6.5rem;
      margin-bottom: 4.5rem; } }
  @media only screen and (max-width: 53.125em) {
    .form__container {
      flex-direction: column; } }

.form__addbar {
  display: grid;
  grid-template-columns: 3rem 1fr;
  width: 41%;
  height: 4.2rem; }
  @media only screen and (max-width: 75em) {
    .form__addbar {
      width: 46%;
      height: 4.2rem; } }
  @media only screen and (max-width: 53.125em) {
    .form__addbar {
      width: 100%;
      margin-bottom: 2.3rem; } }

.form__input-rating {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.3rem;
  padding-right: 0.6rem; }
  .theme--default .form__input-rating {
    background-color: #fbfbfb; }
  .theme--dark .form__input-rating {
    background-color: #dedede; }

.form__input {
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
  justify-self: flex-start;
  font-size: 1.7rem;
  letter-spacing: 2px;
  padding-top: 0.3rem; }
  .form__input::placeholder {
    font-size: 1.7rem;
    padding-left: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px; }
    .theme--default .form__input::placeholder {
      color: #d0d0d0; }
    .theme--dark .form__input::placeholder {
      color: #939393; }

.form__rating {
  padding-top: 0.4rem; }

.form__empty-star {
  font-size: 1.5rem; }
  .theme--default .form__empty-star {
    color: #efd29a; }
  .theme--dark .form__empty-star {
    color: #e7ae3c; }
  .form__empty-star.fa-star {
    margin-right: 0.5rem; }

.form__full-star {
  font-size: 1.5rem; }
  .theme--default .form__full-star {
    color: #efd29a; }
  .theme--dark .form__full-star {
    color: #e7ae3c; }

.form__submit-btn {
  padding: 0.2rem 0;
  font-size: 2.5rem;
  cursor: pointer;
  opacity: 1;
  text-align: center; }
  .theme--default .form__submit-btn {
    background-color: #bdbdbd;
    color: #fbfbfb; }
  .theme--dark .form__submit-btn {
    background-color: #939393;
    color: #f4f4f4; }

.form__filter {
  display: flex;
  flex-direction: row; }
  .form__filter div {
    padding: 0.1rem 1rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
    border-radius: 2em;
    font-size: 1.6rem; }
    @media only screen and (max-width: 75em) {
      .form__filter div {
        padding: 0.1rem 0.9rem;
        padding-bottom: 0.4rem; } }
    @media only screen and (max-width: 62.5em) {
      .form__filter div {
        padding-bottom: 0.2rem; } }
    @media only screen and (max-width: 53.125em) {
      .form__filter div {
        padding-bottom: 0.3rem; } }
  .form__filter div:not(:last-child) {
    margin-right: 1rem; }
    @media only screen and (max-width: 75em) {
      .form__filter div:not(:last-child) {
        margin-right: 1.4rem; } }
    @media only screen and (max-width: 62.5em) {
      .form__filter div:not(:last-child) {
        margin-right: 1.1rem; } }

.form__filter-all {
  opacity: 0.4; }
  .theme--default .form__filter-all {
    background-color: #bdbdbd; }
  .theme--dark .form__filter-all {
    background-color: #939393; }
  .form__filter-all--pressed {
    opacity: 1; }
    .theme--default .form__filter-all--pressed {
      background-color: #bdbdbd;
      color: #fbfbfb; }
    .theme--dark .form__filter-all--pressed {
      background-color: #939393;
      color: #f4f4f4; }

.form__filter-com {
  opacity: 0.4; }
  .theme--default .form__filter-com {
    background-color: #b6abc8;
    color: #fbfbfb; }
  .theme--dark .form__filter-com {
    background-color: #46a9d3;
    color: #f4f4f4; }
  .form__filter-com--pressed {
    opacity: 1; }
    .theme--default .form__filter-com--pressed {
      background-color: #b6abc8;
      color: #fbfbfb; }
    .theme--dark .form__filter-com--pressed {
      background-color: #46a9d3;
      color: #f4f4f4; }

.form__filter-uncom {
  opacity: 0.4; }
  .theme--default .form__filter-uncom {
    background-color: #e8acac;
    color: #fbfbfb; }
  .theme--dark .form__filter-uncom {
    background-color: #e26f45;
    color: #f4f4f4; }
  .form__filter-uncom--pressed {
    opacity: 1; }
    .theme--default .form__filter-uncom--pressed {
      background-color: #e8acac;
      color: #fbfbfb; }
    .theme--dark .form__filter-uncom--pressed {
      background-color: #e26f45;
      color: #f4f4f4; }
